@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.container-global {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  margin-top: 66px;
}

.card {
  border-radius: 15px; /* Esquinas redondeadas */
  background: linear-gradient(to right, #ffffff, #e3f2fd);
}

.btn-primary {
  background-color: #007bff; /* Azul clásico de Bootstrap */
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3; /* Azul más oscuro */
}

.alert-info {
  background-color: #d1ecf1;
  color: #0c5460;
  border-color: #bee5eb;
}

/* Logo */
.navbar-logo {
  height: 40px;
  width: auto;
}

/* ---------------------------------------------------------------
   1. Estilos generales (Secciones)
--------------------------------------------------------------- */

.section-standard {
  margin: 100px 0; /* Espaciado vertical */
  padding: 20px 0; /* Espaciado interno en la parte superior e inferior */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
}

.section-content {
  margin: 0 auto; /* Centrar el contenido */
  padding: 10px 20px; /* Opcional: Espaciado horizontal */
  max-width: 1200px; /* Limita el ancho del contenido */
  text-align: center; /* Alineación del texto */
}

.general-title {
  font-size: 3.0rem;
  margin-bottom: 20px;
}

.general-paragraph {
  font-size: 1.2rem;
  margin-bottom: 40px;
  opacity: 0.8;
  line-height: 1.8;
}